.cmp-home-box-content{
    background-color: #181818;
    width: 74%;
    height: 96%;

    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}

.cmp-home-box-content-intern{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.cmp-home-box-content-header{
    background-color: transparent;
    width: 100%;
    height: 25%;

    background-image: url("../../images/bkg-content.jpg");
    background-repeat: no-repeat;
    background-position: 50% 49%;
    background-size: cover;

    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3  );

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cmp-home-box-content-body{
    background-color: transparent;
    width: 100%;
    height: 75%;
}