.cmp-modal-icon-close {
    background-color: transparent;
    width: 100%;
    height: 4%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.cmp-modal-icon-close span{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.cmp-modal-icon-close span:hover,
.cmp-modal-icon-close span:focus { color: brown; text-decoration: none; cursor: pointer; }

.cmp-modal-intern-loginregister {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(2,0,36,1) 52%, #1C031B 100%);
    width: 50%;
    height: 85%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;

    border-radius: 10px;
}

.cmp-modal-loginregister{
    background-color: transparent;
    width: 100%;
    height: 97%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cmp-modal-loginregister-line{
    background-color: white;
    width: 1px;
    height: 90%;
}

.cmp-modal-register{
    background-color: #252525;
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 15px;

    border: 1px solid rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}

.cmp-modal-register-header{
    background-color: transparent;
    width: 80%;
    height: 12%;

    border-bottom: 1px solid white;
}

.cmp-modal-register-body{
    background-color: transparent;
    width: 80%;
    height: 85%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cmp-modal-login{
    background-color: #252525;
    width: 45%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.384);
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}

.cmp-modal-login-header{
    background-color: transparent;
    width: 80%;
    height: 25%;

    border-bottom: 1px solid white;
}

.cmp-modal-login-body{
    background-color: transparent;
    width: 80%;
    height: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.cmp-modal-register-body .cmp-input{ height: 8%; background-color: #181818ea; }
.cmp-modal-register-body .cmp-input-pwd{ height: 8%; background-color: #181818ea; }
.cmp-modal-register-body .cmp-btn{ 
    height: 8%; 
    width: 100%; 
    font-size: 70%; 
    font-weight: 900; 
    letter-spacing: 0px; 
}

.cmp-modal-register-body .cmp-btn button{
    font-size: 140%; 
    font-weight: bold; 
    letter-spacing: 1px; 
}

.cmp-modal-login-body .cmp-input{ height: 15%; background-color: #181818ea; }
.cmp-modal-login-body .cmp-input-pwd{ height: 15%; background-color: #181818ea; }
.cmp-modal-login-body .cmp-btn{ 
    height: 15%; 
    width: 100%; 
}

.cmp-modal-login-body .cmp-btn button{
    font-size: 100%; 
    font-weight: bold; 
    letter-spacing: 1px; 
}


.cmp-modal-login-body-error{
    font-size: 100%; 
    font-weight: lighter; 
    letter-spacing: 1px; 

    text-align: center  ;

    font-family: 'Akshar', sans-serif;
    color: brown;

    margin: 0;
    padding: 0;
}